#disqus_thread h3 {
  font-size: 225% !important;
}

#disqus_thread a.dsq-brlink {
  display: none;
}

#disqus_thread .dsq-dc-logo {
  display: none;
}

#disqus_thread .dsq-options {
  display: none;
}
