---
layout: default
body_id: post
---

<article>
  <div class="content">
    <header>
      <p><a href="/">Michael Dwan</a></p>
      <h1>{{ page.title }}</h1>
      <p class="date">{{ page.date | date: "%A, %B %d, %Y" }}</p>
    </header>
    <section>
      {{ content }}
    </section>
  </div>
</article>
<aside>
  <div class="content">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_identifier = "{{ page.id }}";
      (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = 'http://michaeldwan.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=michaeldwan">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</aside>
<footer>
  <div class="content">
    <p>Copyright 2011 Michael Dwan</p>
  </div>
</footer>
